local/.local/share/nvim/plugged/
antigen/.antigen/
antigen/.antigen/bundles/Goles/battery
antigen/.antigen/bundles/itsthatguy/itg.zsh-theme
antigen/.antigen/bundles/robbyrussell/oh-my-zsh
antigen/.antigen/bundles/tylerreckart/odin
antigen/.antigen/bundles/arialdomartini/oh-my-git-themes
antigen/.antigen/bundles/denysdovhan/spaceship-prompt
antigen/.antigen/bundles/dracula/zsh
antigen/.antigen/bundles/haribo/omz-haribo-theme
local/.local/share/virtualenvs/
