[submodule "oh-my-zsh"]
	path = oh-my-zsh
        url = antigen/.antigen/bundles/robbyrussell/oh-my-zsh
[submodule "rainbow_levels.vim"]
	path = rainbow_levels.vim
	url = https://github.com/thiagoalessio/rainbow_levels.vim
[submodule "antigen/.antigen/bundles/oh-my-zsh"]
	path = antigen/.antigen/bundles/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "local/.local/share/nvim/plugged/panic.vim"]
	path = local/.local/share/nvim/plugged/panic.vim
	url = https://github.com/jdsimcoe/panic.vim.git
[submodule "local/.local/share/nvim/plugged/coc.nvim"]
	path = local/.local/share/nvim/plugged/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "local/share/fonts"]
	path = local/share/fonts
	url = https://github.com/addy-dclxvi/bitmap-font-collections
