.local/.local/share/nvim/plugged/
.local/.local/share/nvim/plugged/rainbow_levels.vim
.local/.local/share/nvim/plugged/txtfmt
antigen/.antigen/bundles/Goles/battery
antigen/.antigen/bundles/arialdomartini/oh-my-git-themes
antigen/.antigen/bundles/itsthatguy/itg.zsh-theme
antigen/.antigen/bundles/robbyrussell/oh-my-zsh
antigen/.antigen/bundles/tylerreckart/odin
.local/.local/share/nvim/plugged/dracula
.local/.local/share/nvim/plugged/rainbow_levels.vim
.local/.local/share/nvim/plugged/txtfmt
antigen/.antigen/bundles/Goles/battery
antigen/.antigen/bundles/arialdomartini/oh-my-git-themes
antigen/.antigen/bundles/denysdovhan/spaceship-prompt
antigen/.antigen/bundles/dracula/zsh
antigen/.antigen/bundles/haribo/omz-haribo-theme
antigen/.antigen/bundles/itsthatguy/itg.zsh-theme
antigen/.antigen/bundles/lenguyenthanh/nt9-oh-my-zsh-theme
antigen/.antigen/bundles/lenguyenthanh/nt9-oh-my-zsh-theme
antigen/.antigen/bundles/robbyrussell/oh-my-zsh
antigen/.antigen/bundles/tylerreckart/odin
.local/.local/share/nvim/plugged/dracula
