#include "/home/daniel/.cache/freshcoat/x_colors"
!-------------------------------------------------------------------------------
! URxvt settings
!-------------------------------------------------------------------------------

URxvt.geometry:             92x21
URxvt.transparent:          false
URxvt.fading:               0
URxvt.loginShell:           true
URxvt.saveLines:            400
URxvt.lineSpace:            2
URxvt.depth:                32

! Fonts
URxvt.allow_bold:          true
URxvt*font:                -ctrld-fixed-medium-r-normal--13-80-96-96-c-80-iso10646-1, \
                           xft:ShureTechMono Nerd Font:style=Regular:pixelsize=10
URxvt*boldFont:            -ctrld-fixed-medium-r-normal--13-80-96-96-c-80-iso10646-1

URxvt*letterSpace:          2

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Add padding
URxvt.internalBorder:       14

! Perl extensions
URxvt.perl-ext-common:      default,matcher
URxvt.matcher.button:       1
URxvt.urlLauncher:          firefox

! Reload
URxvt.config-reload:        C-down-up 

! Cursor
URxvt.cursorBlink:          false
URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true

! rofi
rofi.modi:                  run,drun,window,keys
rofi.terminal:              urxvt
rofi.kb-cancel:             Escape,Control+c
rofi.fuzzy:                 true
rofi.lines:                 15
rofi.columns:               1
rofi.font:                  Screen 13px
rofi.bw:                    2
rofi.padding:               12
rofi.hide-scrollbar:        false
rofi.scrollbar-width:       2
rofi.kb-row-up:             Up,Control+p,ISO_Left_Tab
rofi.kb-row-down:           Down,Control+n
rofi.cycle:                 true
rofi.color:                 enabled

! X-settings
Xft.dpi:                    102
XTerm*background:           #2B2B2B
