#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Advanced REST client
Exec=chromium --profile-directory=Default --app-id=hgmloofddffdnphfgcellkdfbfbjeloo
Icon=chrome-hgmloofddffdnphfgcellkdfbfbjeloo-Default
StartupWMClass=crx_hgmloofddffdnphfgcellkdfbfbjeloo
