[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=termite -e 'nvim %f%n'
Name=termite
Comment=Custom definition for termite
