[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec="termite nvim " %f
Name="termite nvim "
Comment=Custom definition for "termite nvim "
